/* src/styles/dashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f6fa;
  font-family: "Poppins", sans-serif;
}

.dashboard-container h1 {
  font-size: 2rem;
  color: #333;
}

.dashboard-container p {
  color: #555;
  margin-top: 10px;
  font-size: 1.1rem;
}

.logout-button {
  margin-top: 20px;
  background-color: #e84118;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-button:hover {
  background-color: #c23616;
}
